<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  background-color: yellow;
}
</style>
</head>
<body>

<h1>CSS background </h1>
<div>
Hi THERE
<p>This IS SHAILA</p>
Nice to meet you.
</div>

</body>
</html>


